@media (max-width: 500px) {
    .logo img{
        height: 2rem;
    }

    .logo{
        top: 1rem !important;
        left: 2rem !important;
    }

    .menu{
        justify-content: center;
    }

    ul{
        padding: 0 0 !important;
        margin-top: 2rem !important;
        margin: 20% 0% !important;
        justify-content: center;
        width: 100%;

    }

    ul li{
        margin: 0 0% !important;
    }

    ul li a{
        font-size: 0.7rem !important;
    }

    .div-1{
        min-height: 14rem;
    }

    .div-1-gray{
        height: 10rem;
        top: 4rem;
        background-size: contain;
    }

    .div-1-gray-p{
        min-height: 3rem;
        top: 3rem;
        left: 2rem;
    }

    #p-baslik{
        font-size: 0.5rem;
    }

    .div-1-gray-p h1{
        font-size: 0.75rem;
    }

    .div-1-gray-p p{
        font-size: 0.5rem;
    }

    .div-1-gray-right{
        top: 20%;
    }

    .div-1-gray-right img{
        height: auto;
    }

    .div-1-red{
        height: 4rem;
        top: 8rem;
    }

    .div-1-red-img{
        justify-content: center;
    }

    .div-1-red-img img{
        height: 2rem;
    }

    .div-2{
        width: 90%;
        margin-top: 10%;
        padding: 0%;
    }

    .div-2-icerik img{
        height: 1rem;
        padding-left: 2%;
    }

    .div-2-icerik{
        width: 80% !important;
        margin-left: 0;
        margin-top: 0;
        padding-left: 5%;
    }

    .div-2-icerik h2{
        font-size: 0.5rem;
    }

    #h2-red{
        font-size: 0.5rem;
        margin-top: 0.5rem;
        padding: 0.2rem -0.75rem !important;
        margin-left: 0%;
    }

    .div-2-icerik p{
        width: 90%;
        font-size: 0.5rem;
        margin-top: 1rem;
        padding-left: 9% !important;
    }

    .div-2-foto{
        width: 80%;
        margin-left: 0;
        padding-left: 15% !important;
    }

    .div-2-foto img{
        height: 1.2rem;
    }

    .div-2-foto p{
        font-size: 0.5rem;
    }
    
    .div-3{
        width: 100%;
        margin-top: 5rem;
        min-height: 15rem;
    }

    .div-3-icerik{
        min-height: 10rem;
        padding: 10% 7%
    }

    .div-3-icerik h2{
        font-size: 0.5rem;
    }

    #div-3-h2-red{
        font-size: 0.5rem;
    }

    .div-3-icerik p{
        width: 90%;
        font-size: 0.6rem;
    }

    .div-3-logo{
        min-height: 5rem;
        display: flex;
        width: 80%;
        left: 2rem;
        top: 12rem;
    }

    .div-3-logo-foto{
        padding: 10% 1%;
    }

    .div-3-logo-foto-dif{
        padding: 7% 2%;
    }

    .div-3-logo-foto-dif1{
        padding: 7% 1%;
    }

    .div-3-logo-foto img{
        height: 1.5rem;
        margin-right: 0rem;
        padding-right: 0.3rem;
    }

    .div-3-logo-foto-dif img{
        height: 1.5rem;
        margin-right: 0rem;
        padding-right: 0.1rem;
    }

    .div-3-logo-foto-dif1 img{
        height: 1.5rem;
        margin-right: 0rem;
        padding-top: 1rem;
    }

    .div-4{
        width: 100%;
    }
   
    .div-4-baslik{
        padding-top: 20%;
        padding-left: 10%;
        font-size: 0.6rem;
    }
  
    .div-4-h2-red{
        display: inline-block;
        color: white;
        padding:0.2rem;
        margin-top: 0.5rem;
        font-size: 0.8rem;
    }
       
    .div-4-box{
        display:block;
        width: 80%;
        text-align: center;
        justify-content: space-evenly;
        margin-top: 5%;
        padding: 10% 10%;
    }
 
    .box{
        width: 100%;
        padding-bottom: 5%;
        margin-bottom: 5%;
    }
    
    .box-dif{
        width: 100%;
        color: white;
        padding-bottom: 5%;
        margin-bottom: 5%;
    }

    .div-4-gray{
        background-color: #4a555d;
        color: white;
        margin-top: 5%;
        width: 100%;
    }
    
    .div-4-gray-icerik{
        padding-top: 10%;
        padding-bottom: 10%;
        width: 90%;
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 0.8rem;
    }

    .div-5{
        width: 100%;
    }
    
    .div-5-baslik{
        padding-top: 6%;
        padding-left: 10%;
        width: 80%;
        font-size: 0.5rem;
    }
    .div-5-h2-red{
        display: inline-block;
        padding:0.2rem;
        margin-top: 0.6rem;
    }
    
    .div-5-referanslar{
        display: flex;
        width: 100%;
        margin-top: 1rem;
    }
    
    .div-5-referanslar-box{
        width: 33%;
        position: relative;
        margin: 0.33%;
    }
    
    .box-bg{
        width: 100%;
    }
    
    .box-logo{
        width: 20%;
        position: absolute;
        margin: auto;
        display: block;
    }

    .daire{
        top: 80%;
        padding: 0 0%;
        height: 35%;
        margin-left: 0%;
    }
    
    .ok{
        height: 30%;
        position: absolute;
    }
    
    .sol-ok{
        position: absolute;
    }
    
    .sag-ok{
        position: absolute;
    }

    .div-6{
        width: 100%;
        margin-right: 5%;
    }
    
    .footer{
        margin: 0 10%;
        width: 80%;
        padding: 10% 0;
        display: inline-block;
    }
    
    .ensah{
        width: 100%;
        font-size: 0.8rem;
        text-align: center;
    }
    
    .footer-ensah{
        height: 1rem;
        margin-bottom: 5%;
    }
    
    .footer-p-dif{
        margin-bottom: 5%;
        font-size: 0.7rem;
    }
    
    .footer-sosyal{
        padding: 0 30%;
        height: 1rem;
    }
    
    .footer-urun-grup{
        width: 100%;
        margin: 20% 0%;
        text-align: center;
        font-size: 0.5rem;
    }
    
    .footer-h3{
        margin-bottom: 5%;
    }
    
    .footer-urun-grup p{
        padding: 2% 0;
        font-size: 0.5rem;
    }
    
    .footer-kategori{
        width: 100%;
        margin: 2% 0%;
        text-align: center;
        font-size: 0.5rem;
    }
    
    .footer-kategori p{
        padding: 2% 0;
        font-size: 0.5rem;
    }

    .menu #basliklar{
        display: none;
        z-index: 1;
    }

    .menu a{
        padding: 0.5rem 1rem;
        color: white;
        background-color: #4a555d;
        display: block;
    }

    .menu a.icon{
        position: absolute;
        background-color: transparent;
        right: 0.5rem;
        top: 2rem;
        color:#4a555d;
        display: block;
    }

    .menu a:hover{
        background-color: #1c1c1c;
        color: white;
        margin-left: 1rem;

    }

    .menu .icon:hover{
        background-color: transparent;
        color: #4a555d;
        border: 0px;
    }

} 